################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/.vs/MauiCalc1/FileContentIndex
/MauiCalc1/obj/Debug
/.vs/MauiCalc1/v17/.suo
/MauiCalc1/obj/Debug/net8.0-windows10.0.19041.0/win10-x64/apphost.exe
/MauiCalc1/obj/Debug/net8.0-windows10.0.19041.0/win10-x64/MauiCalc1.AssemblyInfo.cs
/MauiCalc1/obj/Debug/net8.0-windows10.0.19041.0/win10-x64/MauiCalc1.AssemblyInfoInputs.cache
/MauiCalc1/obj/Debug/net8.0-windows10.0.19041.0/win10-x64/MauiCalc1.csproj.CoreCompileInputs.cache
/MauiCalc1/obj/Debug/net8.0-windows10.0.19041.0/win10-x64/MauiCalc1.csproj.FileListAbsolute.txt
/MauiCalc1/obj/Debug/net8.0-windows10.0.19041.0/win10-x64/MauiCalc1.dll
/MauiCalc1/obj/Debug/net8.0-windows10.0.19041.0/win10-x64/MauiCalc1.GeneratedMSBuildEditorConfig.editorconfig
/MauiCalc1/obj/Debug/net8.0-windows10.0.19041.0/win10-x64/MauiCalc1.pdb
/MauiCalc1/obj/Debug/net8.0-windows10.0.19041.0/win10-x64/apphost.exe
/MauiCalc1/obj/Debug/net8.0-windows10.0.19041.0/win10-x64/MauiCalc1.AssemblyInfo.cs
/MauiCalc1/obj/Debug/net8.0-windows10.0.19041.0/win10-x64/MauiCalc1.AssemblyInfoInputs.cache
/MauiCalc1/obj/Debug/net8.0-windows10.0.19041.0/win10-x64/MauiCalc1.csproj.CoreCompileInputs.cache
/MauiCalc1/obj/Debug/net8.0-windows10.0.19041.0/win10-x64/MauiCalc1.csproj.FileListAbsolute.txt
/MauiCalc1/obj/Debug/net8.0-windows10.0.19041.0/win10-x64/MauiCalc1.dll
/MauiCalc1/obj/Debug/net8.0-windows10.0.19041.0/win10-x64/MauiCalc1.GeneratedMSBuildEditorConfig.editorconfig
/MauiCalc1/obj/Debug/net8.0-windows10.0.19041.0/win10-x64/MauiCalc1.genruntimeconfig.cache
/MauiCalc1/obj/Debug/net8.0-windows10.0.19041.0/win10-x64/MauiCalc1.pdb
/MauiCalc1/obj/Debug/net8.0-windows10.0.19041.0/win10-x64/Platforms/Windows/App.g.cs
/MauiCalc1/obj/Debug/net8.0-windows10.0.19041.0/win10-x64/ProjectArchitectures.txt
/MauiCalc1/obj/Debug/net8.0-windows10.0.19041.0/win10-x64/ref/MauiCalc1.dll
/MauiCalc1/obj/Debug/net8.0-windows10.0.19041.0/win10-x64/refint/MauiCalc1.dll
/MauiCalc1/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/AppX/MauiCalc1.dll
/MauiCalc1/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/AppX/MauiCalc1.exe
/MauiCalc1/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/AppX/vs.appxrecipe
/MauiCalc1/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/MauiCalc1.build.appxrecipe
/MauiCalc1/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/MauiCalc1.dll
/MauiCalc1/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/MauiCalc1.exe
/MauiCalc1/bin/Debug/net8.0-windows10.0.19041.0/win10-x64/MauiCalc1.pdb
/MauiCalc1/obj/Debug/net8.0-windows10.0.19041.0/win10-x64/intermediatexaml/MauiCalc1.dll
/MauiCalc1/obj/Debug/net8.0-windows10.0.19041.0/win10-x64/intermediatexaml/MauiCalc1.pdb
/.vs/MauiCalc1/v17/.suo
/MauiCalc1/obj/Debug/net8.0-android/MauiCalc1.AssemblyInfo.cs
/MauiCalc1/obj/Debug/net8.0-android/MauiCalc1.AssemblyInfoInputs.cache
/MauiCalc1/obj/Debug/net8.0-android/MauiCalc1.GeneratedMSBuildEditorConfig.editorconfig
/MauiCalc1/obj/Debug/net8.0-ios/iossimulator-x64/MauiCalc1.AssemblyInfo.cs
/MauiCalc1/obj/Debug/net8.0-ios/iossimulator-x64/MauiCalc1.AssemblyInfoInputs.cache
/MauiCalc1/obj/Debug/net8.0-ios/iossimulator-x64/MauiCalc1.GeneratedMSBuildEditorConfig.editorconfig
/MauiCalc1/obj/Debug/net8.0-maccatalyst/maccatalyst-x64/MauiCalc1.AssemblyInfo.cs
/MauiCalc1/obj/Debug/net8.0-maccatalyst/maccatalyst-x64/MauiCalc1.AssemblyInfoInputs.cache
/MauiCalc1/obj/Debug/net8.0-maccatalyst/maccatalyst-x64/MauiCalc1.GeneratedMSBuildEditorConfig.editorconfig
