################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/.vs/MauiCalc1/FileContentIndex
/MauiCalc1/obj/Debug
